<% add_to_head do %>
  <link href="<%= root_path %>sidekiq-statistic.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>

<script type="text/javascript" src="<%= root_path %>statistic.js"></script>

<div class='statistic'>
  <h2><%= t('Statistic') %></h2>

  <ul class="nav nav-tabs">
    <li class="active"><a href="<%= root_path %>statistic" class="statistic__tab"><%= t('Index') %></a></li>
    <li><a href="<%= root_path %>statistic/realtime" class="statistic__tab"><%= t('Realtime') %></a></li>
  </ul>

  <div class='statistic__container'>
    <div class='statistic__datepicker'>
      <%= t('Start') %>: <input id='datepicker_from' />
      <%= t('End') %>: <input id='datepicker_to' />
    </div>

    <div class="statistic__charts">
      <h2><%= t('Failed') %></h2>
      <canvas id="js-failed-chart" width="800" height="200"></canvas>
      <h2><%= t('Passed') %></h2>
      <canvas id="js-passed-chart" width="800" height="200"></canvas>
      <div id="chartjs-tooltip"></div>
    </div>

    <h2><%= t('WorkersTable') %></h2>
    <div class="table_container">
      <table class="statistic__table table table-hover table-bordered table-striped table-white live-reload">
        <thead>
          <th><%= t('Worker') %></th>
          <th><%= t('Date') %></th>
          <th><%= t('Queue') %></th>
          <th><%= t('Success') %></th>
          <th><%= t('Failure') %></th>
          <th><%= t('Total') %></th>
          <th><%= t('TimeSec') %></th>
          <th><%= t('AverageSec') %></th>
          <th><%= t('MinTimeSec') %></th>
          <th><%= t('MaxTimeSec') %></th>
          <th><%= t('LastJobStatus') %></th>
        </thead>
        <% @workers.each do |worker| %>
          <tr>
            <td class="worker"><a href="<%= root_path %>statistic/<%= worker[:name] %>"><%= worker[:name] %></a></td>
            <td class="worker"><%= formate_date worker[:runtime][:last] %></td>
            <td class="worker"><%= worker[:queue] %></td>
            <td class="worker"><%= worker[:number_of_calls][:success] %></td>
            <td class="worker"><%= worker[:number_of_calls][:failure] %></td>
            <td class="worker"><%= worker[:number_of_calls][:total] %></td>
            <td class="worker"><%= worker[:runtime][:total] %></td>
            <td class="worker"><%= worker[:runtime][:average] %></td>
            <td class="worker"><%= worker[:runtime][:min] %></td>
            <td class="worker"><%= worker[:runtime][:max] %></td>
            <td class="worker"><%= worker[:last_job_status] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
