<% add_to_head do %>
  <link href="<%= root_path %>sidekiq-statistic.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>

<script type="text/javascript" src="<%= root_path %>statistic.js"></script>

<div class='statistic'>
  <h2><%= t('WorkerInformation', worker: @name) %></h2>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#" class="statistic__tab" data-target=".statistic__table"><%= t('InformationTable') %></a></li>
    <li><a href="#" class="statistic__tab" data-target=".statistic__log"><%= t('WorkerLog') %></a></li>
  </ul>

  <div class="statistic__container live-reload">
    <div class="statistic__table">
      <div class='statistic__datepicker'>
      <%= t('InformationTable') %>: <input id='datepicker_from' />
      <%= t('End') %>: <input id='datepicker_to' />
      </div>

      <h2><%= t('WorkerTablePerDay') %></h2>
      <div class="table_container">
        <table class="statistic__table table table-hover table-bordered table-striped table-white">
          <thead>
            <th><%= t('Date') %></th>
            <th><%= t('LastRun') %></th>
            <th><%= t('Success') %></th>
            <th><%= t('Failure') %></th>
            <th><%= t('Total') %></th>
            <th><%= t('TimeSec') %></th>
            <th><%= t('Average_Sec') %></th>
            <th><%= t('MinTimeSec') %></th>
            <th><%= t('MaxTimeSec') %></th>
            <th><%= t('LastJobStatus') %></th>
          </thead>
          <% @worker_statistic.each do |worker| %>
            <tr>
              <td class="worker"><%= formate_date worker[:date], '%e %B %Y' %></td>
              <td class="worker"><%= formate_date worker[:runtime][:last] %></td>
              <td class="worker"><%= worker[:success] %></td>
              <td class="worker"><%= worker[:failure] %></td>
              <td class="worker"><%= worker[:total] %></td>
              <td class="worker"><%= worker[:runtime][:total] %></td>
              <td class="worker"><%= worker[:runtime][:average] %></td>
              <td class="worker"><%= worker[:runtime][:min] %></td>
              <td class="worker"><%= worker[:runtime][:max] %></td>
              <td class="worker"><%= worker[:last_job_status] %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="statistic__log">
      <input type='text' name='' id='statistic__search' value='' placeholder='Search text in log file'/>
      <% @worker_log.each do |line| %>
        <p class="statistic__i"><%= line %></p>
      <% end %>
    </div>
  </div>
</div>
