<script type="text/javascript" src="<%= root_path %>chart.js"></script>

<div class='history'>
  <h2>History</h2>

  <div class='history__container'>
    <h2>Failed</h2>
    <canvas id="js-failed-chart" width="800" height="200"></canvas>
    <h2>Passed</h2>
    <canvas id="js-passed-chart" width="800" height="200"></canvas>

    <h2>Worker table</h2>
    <table class="history__table table table-hover table-bordered table-striped table-white">
      <thead>
        <th>Worker</th>
        <th>Date</th>
        <th>Success</th>
        <th>Failure</th>
        <th>Total</th>
        <th>Time(sec)</th>
        <th>Average(sec)</th>
        <th>Max time(sec)</th>
      </thead>
      <% @workers.each do |worker| %>
        <tr>
          <td class="history__i"><a href="<%= root_path %>history/<%= worker[:name] %>"><%= worker[:name] %></a></td>
          <td class="history__i"><%= worker[:last_runtime] %></td>
          <td class="history__i"><%= worker[:number_of_calls][:success] %></td>
          <td class="history__i"><%= worker[:number_of_calls][:failure] %></td>
          <td class="history__i"><%= worker[:number_of_calls][:total] %></td>
          <td class="history__i"><%= worker[:total_runtime] %></td>
          <td class="history__i"><%= worker[:average_runtime] %></td>
          <td class="history__i"><%= worker[:max_runtime] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
