<% add_to_head do %>
  <link href="<%= root_path %>sidekiq-history.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>

<script type="text/javascript" src="<%= root_path %>history.js"></script>

<div class='history'>
  <h2><%= @name %> information</h2>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#" class="history__tab" data-target=".history__table">Information table</a></li>
    <li><a href="#" class="history__tab" data-target=".history__log">Worker log</a></li>
  </ul>

  <div class="history__container live-reload">
    <div class="history__table">
      <div class='history__datepicker'>
        Start: <input id='datepicker_from' />
        End: <input id='datepicker_to' />
      </div>

      <h2>Worker table (per day)</h2>
      <table class="history__table table table-hover table-bordered table-striped table-white">
        <thead>
          <th>Date</th>
          <th>Last run</th>
          <th>Success</th>
          <th>Failure</th>
          <th>Total</th>
          <th>Time(sec)</th>
          <th>Average(sec)</th>
          <th>Min time(sec)</th>
          <th>Max time(sec)</th>
          <th>Last Job Status</th>
        </thead>
        <% @worker_statistic.each do |worker| %>
          <tr>
            <td class="worker"><%= formate_date worker[:date], '%e %B %Y' %></td>
            <td class="worker"><%= formate_date worker[:runtime][:last] %></td>
            <td class="worker"><%= worker[:success] %></td>
            <td class="worker"><%= worker[:failure] %></td>
            <td class="worker"><%= worker[:total] %></td>
            <td class="worker"><%= worker[:runtime][:total] %></td>
            <td class="worker"><%= worker[:runtime][:average] %></td>
            <td class="worker"><%= worker[:runtime][:min] %></td>
            <td class="worker"><%= worker[:runtime][:max] %></td>
            <td class="worker"><%= worker[:last_job_status] %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="history__log">
      <input type='text' name='' id='history__search' value='' placeholder='Search text in log file'/>
      <% @worker_log.each do |line| %>
        <p class="history__i history__<%= line[:color] %>"><%= line[:text] %></p>
      <% end %>
    </div>
  </div>
</div>
